<<<<<<< HEAD
<h1>youre a wizard harry</h1>
<p>I cant be a wizard. Im just harry. just Harry</p>
=======
<div class = "sorting hat">
<image href = "/images/sortinghat.png">
</div>


<!-- drop down menu -->

  <div class="dropdown">
    <button class="dropbtn">Houses</button>
    <div class="dropdown-content">
        <a href="/edits/G">Gryffindor</a>
        <a href="/edit/H">Hufflepuff</a>
        <a href="/edit/R">Ravenclaw</a>
        <a href="/edit/S">Slytherin</a>
  </div>
>>>>>>> 65164ca0080e18f3af7d7ad1f661120805340517
