<div class = "sorting hat">
<img  src= "/images/sortinghat.png">
</div>


<!-- drop down menu -->

  <div class="dropdown">
    <button class="dropbtn"><img  src= "/images/sortinghat.png"></button>
    <div class="dropdown-content">
        <a href="/edits/G">Gryffindor</a>
        <a href="/edit/H">Hufflepuff</a>
        <a href="/edit/R">Ravenclaw</a>
        <a href="/edit/S">Slytherin</a>
  </div>
