

<!-- drop down menu -->

  <div class="dropdown">
    <button class="dropbtn"><img  src= "/images/sortinghat.png"></button>
    <div class="dropdown-content">
        <a href="/1">Hufflepuff</a>
        <a href="/2">Slytherin</a>
        <a href="/3">Gryffindor</a>
        <a href="/4">Ravenclaw</a>
  </div>
