
<span>

<img src= {{image}}>

<form action='/houses/{{id}}' method = 'post'>
<label>Name</label><br>

<input type = 'text' value = 'your name goes here'>

<button class = 'button'>Join</button>

</form>
