
<img class = "yourHouse" src={{image}}>

<form action='/{{id}}' method = 'post'>
<label>Name</label><br>

<input type = 'text' name="name" placeholder = 'your name goes here'>

<button class = 'button'>Enrol</button>

</form>
