@import url(//db.onlinewebfonts.com/c/002b944b211d383987536f1ecf684bca?family=Herculanum);
    body {
        background: darkgrey;
    }
    .hogwarts{
    font-family: herculanum;
    font-size: 45px;
    }

    #magic{
        height: 200px;
        width: 100%;
    }

    #header {
        font-size: 75px;
        width: 75%;
        margin: 25px;

    }
    

    #header-img {
        height: 150px;
        position: relative;
        left: 80%;
        top: -120px;
    }

    .choose{
        font-family: herculanum;
        font-size: 25px;
        float: center;
        position: relative;
        top: -50px;
    }

    #hat {
        width: 300px;
        float: center;
        position: relative;
    }

    .dropbtn {
        background-color: darkgrey;
        margin: 0;
        padding: 0;
        border-color: darkgrey;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      top: -50px;
      left: 40%;

    }
    
    .dropdown-content {
      font-family: herculanum;
      font-size: 30px;
      display: none;
      position: relative;
      background-color: #f1f1f1;
      min-width: 150px;
      border-radius: 10px;;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    

    
    .dropdown:hover .dropdown-content {display: block;}


    label{
        font-family: herculanum;
        font-size: 30px;
    }

    .text{
        font-family: herculanum;
    }
    button{
        font-family: herculanum;
        height: 40px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 5px 5px 0px darkgrey; 
    }
    input{
        height: 35px;
        border-radius: 10px;
    }
  
    .footer{
        position: fixed;
        bottom: 0;
    }